.items-container {
  background-color: #beb8b8;
  position: relative;
  top: 90px;
  overflow-y: scroll;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  margin-bottom: 20px;
  padding: 40px;
  width: 100%;
}
