.auth-dropdown-container {
    position: relative;
  }

  .SignIn {
    height: 33px;
    width: 100%;
    border-radius: 8px;
    border-sizing: border-box;
    box-shadow: 0 2px 5px 0 rbga(213,217,217,.5);
    background: #fcd200;
    border-color: #fcd200;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
    vertical-align: middle;
    font-size: 13px;
    text-align: center;
  }
  .auth-dropdown-container button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    width: 150px;
    z-index: 1;
  }

  .dropdown-content > div {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .dropdown-content > div:last-child {
    margin-bottom: 0;
  }
