.item-show-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    align-items: flex-start;
}

.item-container {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.name {
    font-size: 30px;
    font: "Amazon Ember", sans-serif;
    margin: 20px;
    padding: 10px;
}

.rating-container {
    display: flex;
    margin: 30px;
}

.rating-stars {
    margin: 10px;
    display: flex;
}

.item-price {
    font-size: 15px;
    margin: 20px;
    align-self: flex-end;
}

.add-to-shopping-list {
    margin: 10px;
    justify-content: right;
    align-self: flex-end;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}
