/* .login-form-container {
    border: 4px solid #0e0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.login-form-header {
    font-size: 15px;
    margin-bottom: 10px;
} */


.login-form-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
    padding: 20px;
  }

  .login-form-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .login-form-label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
  }

  .login-form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .login-form-input[type="submit"] {
    background-color: #f0c14b;
    color: #111;
    font-weight: bold;
    cursor: pointer;
  }

  .login-form-input[type="submit"]:hover {
    background-color: #f8d78e;
  }

  .login-form-input[type="submit"]:focus {
    outline: none;
  }

  .login-form-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    text-align: center;
  }

  .login-form-footer a {
    color: #0066c0;
    text-decoration: none;
  }

  .login-form-footer a:hover {
    text-decoration: underline;
  }

  .continue {
    margin-top: 10px;
    font-size: 14px;
    background: #f0c14b;
    text-align: center;
  }

  .login-form-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(227, 217, 217, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .demo-user-container {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }

  .demo {
    background-color: #f6dc9cee;
    color: #111;
    cursor: pointer;
    border-radius: 4px;
  }
