.auth-dropdown-container {
    position: relative;
    display: inline-block;
    color: black;

  }

  /* .welcome-message {
    color: white;
    size: 2px;
    height: 2px;
    top: 0px;
    position: fixed;
  } */

  .first-welcome-message {
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 5px;
    margin-right: 10px;
  }

  .second-welcome-message {
    position: flex;
    color: white;
    size: 1px;
    padding: 5px;
    height: 20px;
    margin-right: 10px;
  }

  .SignIn {
    height: 33px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rbga(213,217,217,.5);
    background: #fcd200;
    border-color: #fcd200;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
  .auth-dropdown-container button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    z-index: 1;
  }
/*
  .dropdown-content > div {
    margin-bottom: 10px;
    cursor: pointer;
  } */

  /* .dropdown-content > div:last-child {
    margin-bottom: 0;
  } */

  .auth-dropdown-container .dropdown-content .Logout .logout-button  {
    height: 50px;
    width: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rbga(213,217,217,.5);
    background: #fcd200;
    border-color: #fcd200;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
