/* .profile-dropdown {
    position: relative;
  } */
  body {
    margin: 0;
    padding: 0;

  }

  .navigation-container {
  display: flex;
  /* flex-direction: column; */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 60px;
  padding-bottom: 1px;
  padding-top: 1px;
  width: 100%;
  align-items: center;
  background-color: #000;
  z-index: 2;
  }


  .navigation-home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .navigation-home-link img {
    width: 40px;
    height: 30px;
    margin-right: 5px;
  }


  .navigation-row {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navigation-item {
    margin: 0 10px;
  }

  .search-bar-container {
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }

  .login-container {

  }

  .navigation-item-search-bar-container {
    flex-grow: 1;
    display: flex;
    margin: 2px;
    color: #d6d6d6;
    z-index: 1;
  }

  .button {
  }


  .left-links {
    display: flex;
  }

  .logo {
    height: 30px;
    width: 35px;
    padding: 3px;
  }
