/* .items-container {
    background-color: rgba(250, 250, 193, 0.827);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
}


.itemslist {
    color: black;
  } */








  .items-container {
    background-color: rgba(250, 250, 193, 0.827);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    width: 100%;
    height: 100%;
  }

  .itemslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    margin-bottom: 20px;
    padding: 40px;
    width: 100%;
  }
